<style type="text/css">
    .header {
      background: #8a8a8a;
    }
    .header .columns {
      padding-bottom: 0;
    }
    .header p {
      color: #fff;
      padding-top: 15px;
    }
    .header .wrapper-inner {
      padding: 20px;
    }
    .header .container {
      background: transparent;
    }
    table.button.facebook table td {
      background: #3B5998 !important;
      border-color: #3B5998;
    }
    table.button.twitter table td {
      background: #1daced !important;
      border-color: #1daced;
    }
    table.button.google table td {
      background: #DB4A39 !important;
      border-color: #DB4A39;
    }
    .wrapper.secondary {
      background: #f3f3f3;
    }
    .two-column {
        text-align: center;
        font-size: 0;
    }
    .two-column .column {
        width: 100%;
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
    }
    .contents {
        width: 100%;
    }
    .two-column .contents {
        font-size: 14px;
        text-align: left;
    }
    .two-column img {
        width: 100%;
        max-width: 280px;
        height: auto;
    }
    .two-column .text {
        padding-top: 10px;
    }
    .inner {
        padding: 10px;
    }
    table {
        border-spacing: 0;
        color: #333333;
        font-family: Arial, sans-serif;
    }
  </style>
  <div style="padding: 0 48px;">
  <wrapper class="header" style="width: 100%;">
    <container>
        <row class="collapse">
            <columns small="6">
                <img style="width: 60px; object-fit: cover; height: 80px;margin-top: 30px" src='https://drive.google.com/uc?export=view&id=1lbU5w8LaA0R2RbIz_Ab5LswjMEcZta1-'>
              <h1 style="color: #2C2F34;margin: 0;font-size:32px;line-height:36px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;font-weight:800;margin:0">Your reservation is confirmed</h1>
              <h2 style="font-size: 20px;color: #2C2F34;margin: 0;margin-bottom: 20px;font-weight: 400;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;">You're going to Lima!</h2>
            </columns>
          </row>
      <row class="collapse">
        <columns small="6">
          <img style="width: 100%; object-fit: cover; height: 300px;" src="https://lp-cms-production.imgix.net/2022-04/shutterstock_1047718252.jpg">
        </columns>
      </row>
    </container>

  </wrapper>
  
  <container>
  
    <row>
      <columns small="12" >
        
        <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-left:1px solid #e8e7e5; border-right:1px solid #e8e7e5; border-bottom:1px solid #e8e7e5; padding: 10px" bg="#FFFFFF">
          

          <tr>
              <td align="center" style="padding:0px 40px 40px 40px"><p style="color: #2C2F34;font-size:24px; text-align:left; font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;">We are pleased to inform you that your booking <span style="font-weight: 600;"><%= id %></span> is confirmed.</p>
                 
               </td>
            
          </tr>
          <tr>
          
             <div style="display: flex;
             flex-direction: row;padding:0px 40px 40px 40px">
                           <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto; width: 100%;">
                    <tr><td style="color: #2C2F34;border-right: 1px solid lightgray;width: 50%;padding-top: 15px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;font-size: 24px; font-weight: 600;">Check In</td><td style="color: #2C2F34;width: 50%;padding-top: 15px;padding-left:15px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif; font-size: 24px; font-weight: 600;">Check Out</td></tr>
                    <tr><td style="color: #2C2F34;border-right: 1px solid lightgray; width: 50%;padding-bottom: 15px; font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;font-size: 18px;">September 3, 2023</td><td style="color: #2C2F34;width:50%;padding-bottom: 15px; padding-left: 15px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;font-size: 18px;">September 11, 2023</td></tr>
                  
                    <!-- <h2 style="width: 100%;">Check In</h2><h3>September 3, 2023</h3> -->
<!--            
                 <div style="width: 50%;background-color: green;flex-direction: column !important;display: flex;"><h2>Check Out</h2><h3>September 11, 2023</h3></div> -->
                           </table>
             </div>

             <div style="display: flex;
             flex-direction: row;padding:0px 40px 40px 40px">
                           <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto; width: 100%;">
                    <tr><td style="color: #2C2F34;width: 50%;padding-top: 15px;padding-bottom: 15px; font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;font-size: 24px; font-weight: 600;">Rooms</td></tr>
                    <% for(var i=0; i<rooms.length; i++) {%>
                    <tr><td style="color: #2C2F34; width: 50%;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;font-size: 18px;line-height: 1;font-weight: 600;">Room <%= rooms[i].room_number %></td><td style="color: #2C2F34;width:50%;padding-bottom: 15px; padding-left: 15px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;font-size: 18px;">$<%= rooms[i].price %>.00</td></tr>
                        <tr><td style=" color: #2C2F34;width: 50%;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;font-size: 18px;line-height: 1;padding-bottom: 20px;">Guests: <%= rooms[i].guests.length %></td></tr>

                    <% } %>
                    <!-- <h2 style="width: 100%;">Check In</h2><h3>September 3, 2023</h3> -->
<!--            
                 <div style="width: 50%;background-color: green;flex-direction: column !important;display: flex;"><h2>Check Out</h2><h3>September 11, 2023</h3></div> -->
                           </table>
             </div>

             <div style="display: flex;
             flex-direction: row;padding:0px 40px 40px 40px">
                           <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto; width: 100%;">
                    <tr><td style="color: #2C2F34;width: 50%;padding-top: 15px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;font-size: 18px; font-weight: 600;">Amount paid (USD)</td><td style="color: #2C2F34;width: 50%;padding-top: 15px;padding-left:15px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif; font-size: 18px; font-weight: 600;">$<%= price %>.00</td></tr>
                 
                    <!-- <h2 style="width: 100%;">Check In</h2><h3>September 3, 2023</h3> -->
<!--            
                 <div style="width: 50%;background-color: green;flex-direction: column !important;display: flex;"><h2>Check Out</h2><h3>September 11, 2023</h3></div> -->
                           </table>
             </div>
        </tr>
          <tr style="margin-bottom: 20px">
              <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto;">
                      <tr>
                          <td width="250" height="50" align="center" bgcolor="#FDC316" style="-moz-border-radius:100vw; -webkit-border-radius: 100vw; border-radius: 100vw;">
                              <a href="http://localhost:3000/destinations/peru" style="width:250; display:block; text-decoration:none; border:0; text-align:center; font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;font-size:18px; color: #ffffff" class="button_link">View Itinerary
                                
                              </a>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
        </table>
      </columns>
    </row>
  
  </container>

</div>